

# Transaction Categorization Assignment

### Background

Quickbooks Online (QBO) is a web-based service which provides financial management and tax preparation services for US and global small business owners. Quickbooks primary service allows users to track bank, credit card, investment, and loan balances and transactions through a single user interface, as well as manage billings, payments, payroll, reports and taxes. 

### The Problem

If a user can assign all of his or her bank transactions to the right tax categories, tax preparation will be a breeze. Small business owners could maximize their tax deductions and minimize audit risks if they do the transaction categorization correctly. The goal is to automate the categorization work to save userâ€™s time. Can you predict the tax category given the bank transaction?


# Guidelines

The end goal is to build a model that predicts the tax category given the bank transaction detail. 

You have one hour and a half to explore the data and build a simple prediction model, or at least present a roadmap for developing a model at a later stage. You can choose a programming environment that you are familiar with, such as RStudio, Jupyter Notebook. You can use external resources (e.g. public libraries and packages, Google and StackOverFlow) but not help from other people.

After that, we would like you to present your code and discuss it with you. We are much more interested in learning about your thinking process, how you make decisions and why. The performance of the model is of lesser importance.

### Data


The CSV file categorization_data.csv contains transactions of QBO users. It is based on anonymized real data on real users (with some random noise added to preserve privacy). This is being shared privately with you. Please delete the file and notebooks after the interview and do not share this data with anyone.

Here is a small sample of the fields following a short description:


<table>
  <tr>
   <td><strong>company_id</strong>
   </td>
   <td><strong>txn_id</strong>
   </td>
   <td><strong>txn_date</strong>
   </td>
   <td><strong>txn_desc</strong>
   </td>
   <td><strong>txn_amount</strong>
   </td>
   <td><strong>personal_cat_name</strong>
   </td>
   <td><strong>tax_category</strong>
   </td>
  </tr>
  <tr>
   <td>123145758185877
   </td>
   <td>11988
   </td>
   <td>2018-10-26T12:00:00.000Z
   </td>
   <td>paragon physical therapy
   </td>
   <td>-1.52E+10
   </td>
   <td>Health & Care
   </td>
   <td><strong>Payroll Expenses</strong>
   </td>
  </tr>
  <tr>
   <td>123145857618364
   </td>
   <td>211574
   </td>
   <td>2017-06-26T07:00:00.000Z
   </td>
   <td>zyto
   </td>
   <td>-4.00E+08
   </td>
   <td>Business Services
   </td>
   <td><strong>Office/General Administrative Expenses</strong>
   </td>
  </tr>
  <tr>
   <td>193514600505359
   </td>
   <td>805405
   </td>
   <td>2018-07-09T07:00:00.000Z
   </td>
   <td>shell
   </td>
   <td>-2.72E+08
   </td>
   <td>Bills
   </td>
   <td><strong>Auto</strong>
   </td>
  </tr>
  <tr>
   <td>1046221400
   </td>
   <td>47470
   </td>
   <td>2018-03-01T20:00:00.000Z
   </td>
   <td>online ach orozco
   </td>
   <td>-6.33E+09
   </td>
   <td>Transfer
   </td>
   <td><strong>Payroll Expenses</strong>
   </td>
  </tr>
  <tr>
   <td>123145723014849
   </td>
   <td>548192
   </td>
   <td>2018-05-17T19:00:00.000Z
   </td>
   <td>ace hotel portland llc
   </td>
   <td>-4.66E+09
   </td>
   <td>Entertainment
   </td>
   <td><strong>Travel</strong>
   </td>
  </tr>
</table>



<p></p>


`company_id`:  a unique identifier for each company

`txn_id`: an id for each data entry event. 

`txn_date`: date of the transaction

`txn_desc`: description of the transaction with merchant names

`txn_amount`: amount of the transaction

`personal_cat_name`: a personal category description predicted for each transaction. This field is derived from an upstream model built for our personal finance management product line. More details could be found in the appendix.

`tax_category`: <strong>This is the target of this task</strong>. Each value of tax categories corresponds to a tax form line item. 

<p></p>
    
# Appendix 

<p></p>

  ###  List of tax categories

<table>
  <tr>
   <td>
    <strong>tax_category</strong>
   </td>
  </tr>
  <tr>
   <td>
    Payroll Expenses
   </td>
  </tr>
  <tr>
   <td>
    Entertainment Meals
   </td>
  </tr>
  <tr>
   <td>
    Office/General Administrative Expenses
   </td>
  </tr>
  <tr>
   <td>
    Bank Charges
   </td>
  </tr>
  <tr>
   <td>
    Travel
   </td>
  </tr>
  <tr>
   <td>
    Legal & Professional Fees
   </td>
  </tr>
  <tr>
   <td>
    Repair & Maintenance
   </td>
  </tr>
  <tr>
   <td>
    Utilities
   </td>
  </tr>
  <tr>
   <td>
    Auto
   </td>
  </tr>
  <tr>
   <td>
    Supplies & Materials
   </td>
  </tr>
  <tr>
   <td>
    Dues & subscriptions
   </td>
  </tr>
  <tr>
   <td>
    Insurance
   </td>
  </tr>
</table>



### List of personal categories


<table>
  <tr>
   <td>
    <strong>personal_cat_name</strong>
   </td>
   <td>
    <strong>personal_cat_name</strong>
   </td>
  </tr>
  <tr>
   <td>
    Cash & ATM
   </td>
   <td>
    Education
   </td>
  </tr>
  <tr>
   <td>
    Uncategorized
   </td>
   <td>
    Entertainment
   </td>
  </tr>
  <tr>
   <td>
    Check
   </td>
   <td>
    Tax
   </td>
  </tr>
  <tr>
   <td>
    Business Services
   </td>
   <td>
    Bills
   </td>
  </tr>
  <tr>
   <td>
    Transfer
   </td>
   <td>
    Clothing
   </td>
  </tr>
  <tr>
   <td>
    Books
   </td>
   <td>
    Kids
   </td>
  </tr>
  <tr>
   <td>
    Food
   </td>
   <td>
    Electronics & Software
   </td>
  </tr>
  <tr>
   <td>
    Loan
   </td>
   <td>
    Sporting Goods
   </td>
  </tr>
  <tr>
   <td>
    Fees
   </td>
   <td>
    Computer Software
   </td>
  </tr>
  <tr>
   <td>
    Health & Care
   </td>
   <td>
    Transfer for Cash Spending
   </td>
  </tr>
  <tr>
   <td>
    Income
   </td>
   <td>
    Interest Income
   </td>
  </tr>
  <tr>
   <td>
    Home
   </td>
   <td>
    Reimbursement
   </td>
  </tr>
  <tr>
   <td>
    Credit Card Payment
   </td>
   <td>
    Insurance
   </td>
  </tr>
  <tr>
   <td>
    Gift
   </td>
   <td>
     
   </td>
  </tr>
</table>

<p></p>


# Good   Luck ! ! !

In [2]:
import pandas as pd
df = pd.read_csv("./categorization_data.csv")

In [3]:
df.head()

,company_id,txn_id,txn_date,txn_desc,txn_amount,personal_cat_name,tax_category
0,1403407275,0,2017-12-20T20:00:00.000Z,atm withdrawal,-6.000000e+08,Cash & ATM,Payroll Expenses
1,111715112,1,2019-01-29T12:00:00.000Z,changing your mi,-8.850000e+08,Uncategorized,Payroll Expenses
2,379049486,2,2017-11-20T20:00:00.000Z,check,-2.820000e+09,Check,Payroll Expenses
3,123145912028844,3,2019-02-04T12:00:00.000Z,check,-1.120000e+10,Check,Payroll Expenses
4,397073921,4,2018-03-30T06:59:59.000Z,payroll marcy l,-3.881930e+10,Uncategorized,Payroll Expenses